[Unit]
Description=UNO Q Face Recognition MCU D9 Relay App
After=docker.service network-online.target arduino-router.service
Wants=network-online.target
Requires=docker.service arduino-router.service
Before=unoq-face-ai.service

[Service]
Type=oneshot
User=arduino
Group=arduino
Environment=HOME=/home/arduino
WorkingDirectory=/home/arduino/unoq_face_recognition/mcu-relay

ExecStart=/usr/bin/arduino-app-cli app start /home/arduino/unoq_face_recognition/mcu-relay

RemainAfterExit=yes
TimeoutStartSec=180
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
